.role-container {
    .role-parent {
        .actions {
            i {
                padding-right: 14px;
                padding-top: 5px;
                cursor: pointer;
                font-size: 30px;
            }

            .add {
                color: #007bff;
            }

            .remove {
                color: #dc3545;
            }
        }
    }
}
