.modal-user {
    .modal-body {
        .red {
            color: red;
            outline: none;
            border: none;
        }
    }
}

.manage-users-container {
    i {
        padding-right: 7px;
    }

    .refresh {
        margin-right: 7px;
    }
}

